.red {
    color: red;
}

// .body {
//     // width: 100%;
//     // min-height: 100%;
//     // background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
//     // rgba(47, 48, 58, 0.4)), url('./img/fon.png'); 
//     // background-size: cover; 
//     // background-repeat: no-repeat; 
//     // background-position: center; 
//     // background-attachment: fixed;
// }

.container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 768px) {
       width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}